{% extends "layout.njk" %}

{% block header %}
    <link rel="stylesheet" href="/about.css">
{% endblock %}
    

{% block content %}
    <section>
        <br>
        <h1>Sobre o Foodfy</h1>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non justo elit. Vestibulum consectetur non est eget congue. Mauris lorem enim, varius in porta nec, feugiat ut orci. Pellentesque ut laoreet lectus, in pulvinar augue. Proin ultrices nibh pellentesque dapibus pretium. Donec malesuada, ligula at consectetur congue, nisi arcu iaculis justo, vel sollicitudin eros nulla a ex. Nullam nibh nisl, pellentesque nec vulputate sodales, dictum nec tellus. Sed quis nibh tortor. Nam dignissim pretium neque ac ullamcorper. Mauris facilisis ante nec magna congue blandit. Cras feugiat blandit metus sed blandit. Curabitur consequat suscipit faucibus. Donec commodo tellus ligula, vitae interdum urna commodo non. Aliquam porttitor eget lectus eu porta. Nam non feugiat dui. Quisque ut iaculis purus, vitae sodales massa.</p>
        <br>
        <p>Cras rutrum dui eros, eu blandit nulla placerat at. Suspendisse fermentum augue ac mi lobortis tempor. Aliquam vitae placerat est, non rhoncus diam. Donec bibendum porta mauris a blandit. Phasellus dignissim nisi ut luctus laoreet. Nam ligula lorem, accumsan vitae interdum quis, sollicitudin vitae felis. Ut venenatis justo eu pretium blandit. Proin commodo lacinia orci quis consequat. Pellentesque tortor tortor, ultrices ut consectetur et, tempus non eros.</p>
        <br>
        <h2>Como tudo começou...</h2>
        <br>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam non justo elit. Vestibulum consectetur non est eget congue. Mauris lorem enim, varius in porta nec, feugiat ut orci. Pellentesque ut laoreet lectus, in pulvinar augue. Proin ultrices nibh pellentesque dapibus pretium. Donec malesuada, ligula at consectetur congue, nisi arcu iaculis justo, vel sollicitudin eros nulla a ex. Nullam nibh nisl, pellentesque nec vulputate sodales, dictum nec tellus. Sed quis nibh tortor. Nam dignissim pretium neque ac ullamcorper. Mauris facilisis ante nec magna congue blandit. Cras feugiat blandit metus sed blandit. Curabitur consequat suscipit faucibus. Donec commodo tellus ligula, vitae interdum urna commodo non. Aliquam porttitor eget lectus eu porta. Nam non feugiat dui. Quisque ut iaculis purus, vitae sodales massa.</p>
        <br>
        <p>Cras rutrum dui eros, eu blandit nulla placerat at. Suspendisse fermentum augue ac mi lobortis tempor. Aliquam vitae placerat est, non rhoncus diam. Donec bibendum porta mauris a blandit. Phasellus dignissim nisi ut luctus laoreet. Nam ligula lorem, accumsan vitae interdum quis, sollicitudin vitae felis. Ut venenatis justo eu pretium blandit. Proin commodo lacinia orci quis consequat. Pellentesque tortor tortor, ultrices ut consectetur et, tempus non eros.</p>
        <br>
        <h2>Nossas receitas</h2>
        <br>
        <p>Nam ac ligula sapien. Aenean placerat massa quis leo condimentum, tincidunt dapibus diam dictum. Morbi vitae neque facilisis, mattis leo ut, porta tellus. Integer eget dignissim mi, ac fringilla mi. Suspendisse eget ligula non nulla sollicitudin ullamcorper. Cras a ex tortor. Donec a dignissim augue, sed fermentum massa. Mauris ac ullamcorper ligula. In id lacus sit amet nibh sagittis dignissim at non felis. Nunc quis mi id turpis finibus mattis. Sed ut tincidunt arcu, ac congue neque. Etiam lobortis sagittis sem, quis faucibus nunc semper quis. Aenean at imperdiet felis.</p>
    </section>
{% endblock %}
        