<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/assets/favicon.ico" type="image/x-icon" />
    <title>Foodfy</title>
    <link rel="stylesheet" href="/layout.css">
    {% block header %}{% endblock %}
</head>
<body>
    <div class="wrapper">
        <header>
            <a href="/">
                <img src="/assets/logo.png" alt="logo" id="logo">
            </a>
                
            <div class="menu">
                <a href="/about" id="about">Sobre</a>
                <a href="/recipes" id="recipes">Receitas</a>
            </div>
        </header>

        {% block content %}{% endblock %}

        <footer>
            Todos os direitos reservados, receitas Foodfy.
        </footer>
    </div>    
</body>
</html>