@import "https://fonts.googleapis.com/css2?family=Roboto&display=swap";
@import "https://fonts.googleapis.com/css2?family=Lobster&display=swap";

* {
    margin: 0;
}

:root {
    --text-header: #111111;
}

body{
    background-color: #FFF0EA;
    font-family: 'Roboto', sans-serif;
    height: 100%;
}

.wrapper {
    max-width: 940px;
    margin: 0 auto;
}

/*=== Header ===*/

header {
      margin: 32px auto;
      display: grid;
      grid-template-columns: 210px 1fr;
      align-items: center;
}

.menu a {
    font-size: 16px;
    color: var(--text-header);
    margin-right: 30px;
    text-decoration: none;
}


/*=== Cards === */

.cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
}


.cards .card-image-container img {
    border-radius: 15px;
    width: 300px;
    height: 140px;
}

.cards .card-info {
    cursor: pointer;
    font-size: 18px;
}

.cards .creator {
    cursor: pointer;
}

/*=== footer ===*/

footer{
    background-color: #EEEEEE;
    color: #999999;
    text-align: center; 
    margin: 60px auto 0 auto;
    font-size: 14px;
    padding: 23px 0;
 }

 /*=== Modal ===*/

 .modal {
    background-color: rgba(0, 0, 0, 0.6);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    bottom: 0;
    opacity: 0;
    visibility: hidden;
 }

 .modal .modal-overlay{
    height: 413px;
    width: 660px;
    background-color: white;
    border-radius: 16px;
    margin: 18vh auto auto auto;
}

.modal .modal-overlay .img-container {
    padding: 30px;
}

.modal .modal-overlay .img-container img {
     width: 600px;
     height: 200px;
     margin: 0 auto;
     display: block;
     border-radius: 15px;
 }

 .modal .modal-overlay h1 {
     font-size: 24px;
     text-align: center;
 }

 .modal .modal-overlay p {
     font-size: 18px;
     text-align: center;
 }

 .modal .modal-overlay a {
    font-size: 16px;
    text-decoration: none;
    color: #999999;
    text-align: center;
    display: block;
    margin: 40px auto;
    cursor: pointer;
 }

 /*=== Modal Active ==*/

 .modal.active {
    visibility: visible;
    opacity: 1;
    display: fixed;
 }



